.jfx-decorator-button {
    -fx-fill: white;
}

.jfx-decorator {
    /* TODO: Drop shadow */
    /* TODO: Transparency with blur */
}

.progress-bar-label {
    -fx-background-color: rgba(255, 255, 255, 0.75);
}

/* TODO: Scroll bar styling */

/* Material Design shadows */

.shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.2s ease-in-out;
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.2s ease-in-out;
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.2s ease-in-out;
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: box-shadow 0.2s ease-in-out;
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: box-shadow 0.2s ease-in-out;
}

/* You must apply these classes manually. */

.material-icon {
    -fx-font-family: "Material Icons";
}

.material-icon-unofficial {
    -fx-font-family: "Material Design Icons";
}